
<div>
    部分页
</div>

<% if (locals.isMe) { %>
    <%# 是当前登录用户%>
    <p class="bold margin-top-10">
        <a href="/at-me">
            @提到我的 (<%= locals.atCount%>)
        </a>
    </p>
<% } else { %>
    <%# 不是当前登录用户%>
    <p class="margin-top-10">
        <button id="btn-un-follow" class="btn btn-light" style="display: none;">取消关注</button>
        <button id="btn-follow" class="btn btn-primary" style="display: none;">关注</button>
    </p>
<% } %>

