<%- include('wuc/header', { title: 'å¾®åš - é¦–é¡µ', isNav: true, list: true, isInputBlog: true })%>
<link href="/style/a.css" rel="stylesheet">
<div>
test
</div>

<img src="/images/112.png" alt="">

<%- include('wuc/footer')%>